doctype html
html
    head
    body
        h1 Sign Up
        form
            label Username: 
            input(id="usernameEnter")
            br
            label Password:  
            input(id="passwordEnter")
            br
            input(type="submit")
    