extends layout
block content
  h1 Login
  form(method="POST" action="/login")
    label Email:
    input(id="emailEnter" name="email")
    br
    label Password:
    input(type="password" id="passwordEnter" name="password")
    br
    input(type="submit" value="Submit")
