extends layout
block content
  h1 Login
  form(action="/mainpage")
    label Email:
    input(id="emailEnter")
    br
    label Password:
    input(id="passwordEnter")
    br
    input(type="submit" value="Submit")
